<div style="display: flex; gap: 1rem">
  <button
    class="btn btn-secondary"
    style="
      flex: 1;
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    "
  >
    Google
    <i class="fab fa-google"></i>
  </button>

  <button
    class="btn btn-secondary"
    style="
      flex: 1;
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    "
  >
    Apple
    <i class="fab fa-apple"></i>
  </button>
</div>
